<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <%= javascript_include_tag 'application' %>    <%= stylesheet_link_tag    'application', media: 'all' %>
    
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
